@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Oswald:wght@200..700&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Oswald:wght@200..700&family=Sedan+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Myname;
  src: url('./Fonts/Hindia.woff') format('woff');
}


::-webkit-scrollbar {
  width: 5px; /* For vertical scrollbars */
  height: 10px; /* For horizontal scrollbars */
}

/* Track styling (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #001233; 
  border-radius: 5px; 
}

/* Thumb styling (scrolling handle) */
::-webkit-scrollbar-thumb {
  background: #6f6f707a; 
  border-radius: 5px;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #004bb5; 
}
.logo_font{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hello{
  font-family: "Edu AU VIC WA NT Arrows";
}

.button{
  background: linear-gradient(62deg, rgba(0,0,0,1) 0%, rgb(1, 1, 223) 150%, rgba(10,11,63,1) 100%);
  position: relative;
  transition: linear all 0.2s; 
  
}
.button::before{
  content: "";
  background: linear-gradient(-62deg, rgba(0,0,0,1) 0%, rgb(1,1,223) 150%, rgba(10,11,63,1) 100%);
  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: 0;
  opacity: 0;
  transition: linear all 0.3s;
}
.button:hover{
  scale: 1.1;
}
.button:hover::before{
  opacity: 1;
  
}
.button-text{
  z-index: 1;
  position: relative;
}

.name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.text-3{
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}




.front_image{
  animation: upDown 3s infinite;
}
/* .icon{
  animation: upDown 3s infinite;
  transition: all linear 0.2s;
}
.icon:hover{
  filter: drop-shadow(0px 0px 10px rgb(107, 153, 251));
  scale: 1.1;
   */

/* } */

.skillText{
  filter: drop-shadow(0px 0px 10px rgb(107, 153, 251));
  scale: 1.1;
}
@keyframes upDown {
  0% {
    transform: translateY(-20);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-20);
  }
}

/* circle */
.circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 23px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100%{
    stroke-dashoffset: 165;
  }
  
}

.parent:hover .child{
      visibility: visible;  
      
}

/* for navbar animation */
[data-scroll-container] {
  position: relative;
  overflow: hidden;
}
section[data-scroll-section] {
  min-height: 100vh;
  padding: 20px;
   background: #f0f0f0;
   
   /* background-color: #092c64; */
  margin: 10px 0;
}




